
header {
    border-bottom: 1px solid black;
    padding-bottom: 7px;
    padding-top: 10px;
}
.app-name {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.app-name-desc {
    font-size: 13px;
    margin-top: 7px;
}